<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-My biddings</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
		<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (data.length) {%>
				<!--if no one logged in, do not display-->
				<a>Logged in as: <%= data[0].username%></a>
				<% } %>
				<a href="login">Login</a>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<footer id="footer">
		<div class="inner">
			<h3> Your active biddings </h3>
		</div>
	</footer>

	<br /><br />
	<div class="table-wrapper" , style="padding-left: 100px; padding-right: 100px">
		<table>
			<thead>
				<tr>
					<th scope="col">Host Username</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Your bids</th>
				</tr>
			</thead>
			<tbody style: align="left">
				<% for(var i=0; i<data.length; i++) { %>
				<tr>
					<td><%= data[i].hostname%></td>
					<td><%= data[i].startdate%></td>
					<td><%= data[i].enddate%></td>
					<td><%= data[i].bids%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</body>

</html>