<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-My biddings</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
		<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (result.length) {%>	
				<!--if no one logged in, do not display-->
				<a>Logged in as: <%= result[0].username%></a>
				<a href='index?action=logout'>Logout</a>
				<% } else { %>
				<a href="login">Login</a>
				<%}%>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>
	<% if (!result.length) {%>
				<h4><center>You have not log in yet. Please log in first.</center></h4>

				<% } else {%>

				<footer id="footer">
					<div class="inner">
						<h3> Your active biddings </h3>
					</div>
				</footer>
				<br/><br /><br />
				<div class="inner">
					<div class="align-center">
						<h3>Update Your Biddings Here</h3>
					</div>
					<form method="post" action="#">
						<div class="row">
							<input type="hidden" id="check" value="unchecked">

							<div class="field half first">
								<input type="text" placeholder="Post ID" id='id' name="id">
							</div>
							<div class="field half">
								<input type="text" placeholder="New Bidding" id="bidding" name="bidding">
							</div>

							<% if (result.length) {%>
							<input type="hidden" id="user" name="user" value=<%= result[0].username%> >
							<%}%>
						</div>
						<div class="align-center">
							
							<ul class="actions">
								<li><a class="button" onclick="func()">Check Validity</a></li>
								<li><input value="Update" class="button" type="submit"></li>
							</ul>

							<h5>Please check validity before updating!</h5>
							
						</div>
					</form>


					<br /><br />
				<div class="align-center">
					<h3>Enrolled Bidding</h3>
				</div>

				<%if(data.length) {%>
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th scope="col">
										<font size="+1">Post ID</font>
									</th>
									<th scope="col">
										<font size="+1">Host Name</font>
									</th>
									<th scope="col">
										<font size="+1">Start Date</font>
									</th>
									<th scope="col">
										<font size="+1">End Date</font>
									</th>
									<th scope="col">
										<font size="+1">Your bids</font>
									</th>
									<th scope="col">
										<font size="+1">Minimum bid</font>
									</th>
									<th scope="col"></th>
								</tr>
							</thead>

							<tbody style: align="left">
								<% for(var i=0; i<data.length; i++) { %>
									<input type="hidden" id=<%= data[i].id%> value=<%= data[i].minbid%>>
								<tr>
									<td>
										<font size="+1"><%= data[i].id%></font>
									</td>
									<td>
										<font size="+1"><%= data[i].hostname%></font>
									</td>
									<td>
										<font size="+1">
											<%= data[i].startdate.toString().split(' ').slice(0, 4).join(' ')%>
										</font>
									</td>
									<td>
										<font size="+1">
											<%= data[i].enddate.toString().split(' ').slice(0, 4).join(' ')%>
										</font>
									</td>
									<td>
										<font size="+1"><%= data[i].bids%></font>
									</td>
									<td>
										<font size="+1"><%= data[i].minbid%></font>
									</td>
									<td><a href=<%= "ownerview?id=" + data[i].id%>
											class="button special small fit">Check it
											out!</a></td>
								</tr>
								<% } %>
							</tbody>
						</table>
						
						
					</div>
					<%}else {%>
						<h4><center>Currently not enrolled in any bidding.</center></h4>
					<%}%>
				<%}%>
				</div>
				<script>
							function func() {
								console.log(document.getElementById('id').value);
								console.log(document.getElementById('user').value);

								console.log(document.getElementById('bidding').value)
								console.log(document.getElementById(document.getElementById('id').value).value);

								bidding = document.getElementById('bidding').value;
								min = document.getElementById(document.getElementById('id').value).value;

								if(bidding < min) {
									alert("Errrrr...  This bidding is invalid!");
								} else {
									alert("Yeaaaa!!!  This bidding is valid!")
								}
							}
						</script>
</body>

</html>