<!DOCTYPE html>
<html>

<head>
	<title>Airpnp</title>
	<meta charset="UTF-8">
	<meta name="discription" content="Something about pets">
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/indexScript.js"></script>
</head>

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (result.length) {%>
				<a>Logged in as: <%= result[0].username%></a>
				<a href='index?action=logout'>Logout</a>
				<% } else { %>
				<a href="login">Login</a>
				<%}%>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<footer id="footer">
		<div class="inner">
			<h3>Find out a second home for your pet</h3>
			<h2>when you are on leave</h2>
		</div>
		<input type="hidden" id='query'>

		<script>
			document.getElementById("query").value = getQuery();
		</script>
	</footer>

	<section id="three">
		<div class="inner">
			<br><br>
			<!-- filtering information -->
			<h3>Constraints:</h3>
			<form method="get" action="/constrain" id="constrain_form">
				<!-- filtering information -->
				<div class="field half first">
					<label>Low Price</label>
					<input type="text" name="lowPrice" id="lowPrice" placeholder="Low Price" />
				</div>

				<div class="field half">
					<label>High Price</label>
					<input type="text" name="highPrice" id="highPrice" placeholder="High Price" />
				</div>

				<div class="field half first">
					<label>Start Time</label>
					<input type="text" name="startTime" id="startTime" placeholder="MM/DD/YYYY" />
				</div>

				<div class="field half">
					<label>End Time</label>
					<input type="text" name="endTime" id="endTime" placeholder="MM/DD/YYYY" />
				</div>

				<div class="field">
					<label>Capacity</label>
					<input type="text" name="capacity" id="capacity" placeholder="Capacity" />
				</div>

				<!-- search button -->
			</form>
			<ul class="actions">
				<li><input type="button" value="by money" onclick="priceAddress()" /></li>
				<li><input type="button" value="by time" onclick="dateAddress()" /></li>
				<li><input type="button" value="by capacity" onclick="capacityAddress()" /></li>
				<li><input class="button special" type="reset" value="Reset" /></li>
			</ul>
			<h3>Sort by:</h3>
			<div class="table-wrapper">
				<ul class="actions">
					<li><input type="button" value="price" onclick="priceSortAddress()" /></li>
					<li><input type="button" value="start date" onclick="dateStartAddress()" /></li>
					<li><input type="button" value="end date" onclick="dateEndAddress()" /></li>
					<li><input type="button" value="capacity" onclick="capacitySortAddress()" /></li>
				</ul>
				<h3>All services:</h3>
				<table id="listings">
					<thead>
						<tr>
							<th scope="col">
								<font size="+1">Host Name</font>
							</th>
							<th scope="col">
								<font size="+1">Minimum Bid</font>
							</th>
							<th scope="col">
								<font size="+1">Start Date</font>
							</th>
							<th scope="col">
								<font size="+1">End Date</font>
							</th>
							<th scope="col">
								<font size="+1">Capacity</font>
							</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i<data.length; i++) { %>

				<tr>
					<td>
						<font size="+1"><%= data[i].hostname%></font>
					</td>
					<td>
						<font size="+1"><%= data[i].minbid%></font>
					</td>
					<td>
						<font size="+1"><%= data[i].startdate.toString().split(' ').slice(0, 4).join(' ')%>
						</font>
					</td>
					<td>
						<font size="+1"><%= data[i].enddate.toString().split(' ').slice(0, 4).join(' ')%></font>
					</td>
					<td>
						<font size="+1"><%= data[i].capacity%></font>
					</td>
					<td><a href=<%= "ownerview?id=" + data[i].id%> class="button special small fit">Check it
							out!</a></td>
				</tr>

				<% } %>
				</tbody>
				</table>

		</div>
		</div>
		</section>
</body>

</html>