<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-Bidding details</title>
	<meta charset="UTF-8">
	<!--   <meta name="discription" content="Something about pets">
	<title>Login Page</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="javascripts/ownerviewScript.js"></script>
</head>
<!--comments here-->

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (result.length) {%>
				<!--if no one logged in, do not display-->
				<a>Logged in as: <%= result[0].username%></a>
				<a href='index?action=logout'>Logout</a>
				<% } else { %>
				<a href="login">Login</a>
				<%}%>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>
<% if (result.length) {%>
				<input type="hidden" id='lgoin' value='true'>
				<% } else {%>
				<input type="hidden" id='login' value='false'>
				<%}%>
	<footer id="footer">
		<div class="inner">
			<h3>Take a look</h3>
			<h2>Your pet may in love with it</h2>
		</div>
	</footer>

	<section id="three" class="wrapper align-left">
		<div class="inner">
			<div class="align-center">
				<h2>Host information</h2>
			</div>
			<%if (result.length){%>
				<%if (data[0].exists == true) {%>
					<h4>You have marked the host as your favourite!</h4>
				<%}else {%>
					<h4>The host is not your favourite host, for now :)</h4>
				<%}%>
				<%}%>
				<input type="hidden" id="id" value=<%=data[0].id%>>
				<h4>Host Name: <%= data[0].hostname%></h4>
				<h4>Host Address: <%= data[0].address%></h4>
				<h4>Nearest MRT Station: <%= data[0].nearest_mrt%></h4>
				<h4>Host Capacity: <%=data[0].capacity%> pets</h4>
				<h4>Contact number: <%=data[0].contact_number%></h4>
				<%if(data[0].bonus != "") {%>
				<h4>Special Bonus: <%=data[0].bonus%></h4>
				<%}%>
				<h4>Start Date: <%=data[0].startdate.toString().split(' ').slice(0, 4).join(' ')%></h4>
				<h4>End Date: <%= data[0].enddate.toString().split(' ').slice(0, 4).join(' ')%></h4>
				<h4>Minimum Bidding: $<a id='min'><%=data[0].minbid%></a></h4>
				
				<% if (data[0].current_max){%>
				<h4>Current Max Bidding: $<%= data[0].current_max%></h4>
				<%} else{%>
				<h4>Bidding status: Seems no one have bidded...</h4>
				<%}%>


<%if (result.length) {%>
				<div class="align-center">
					<% if (!wishlist.length) {%>
					<a class="button" href=<%= "ownerview?id=" + data[0].id + "&action=add"%>>Add to wishlist</a>
					<%}else {%>
					<h4>This post has been added to wishlist!</h4>
					<%}%>
					<% if (! data[0].exists) {%>
					<a class="button"
						href=<%= "ownerview?id=" + data[0].id + "&user=" + data[0].hostname + "&action=like"%>>Like this
						host</a>
					<%}else {%>
					<h4>This user has been added to favourite!</h4>
					<%}%>
				<%} else {%>
				<div class="align-center">
					<br/><br/>
					<h4>Login to like this host or add service to wishlist...</h4>
				</div>
					<%}%>


				</div>
				<br/><br /><br />

					<div class="inner">
						<div class="align-center">
							<h3>Place your bidding</h3>
							<form method="post" action="#">
								<div class="field half">
									<input type="text" name="bidding" id="bidding" placeholder="Bidding" />
								</div>
							</form>
											<% if (result.length) {%>

							<%if (!bidded.length) {%>
							<ul class="actions">
								<li><input class="button" value="bid" onclick="bidAddress()" /></li>
							</ul>
							<%}else {%>
							<h4>Seems you have bidded for this service.</h4>
							<h4>To update bidding, please go to 'My biddings'</h4>
							<%}%>
				</div>
				</div>	
				<%} else {%>
							<h4>Login to bid...</h4>
							<%}%>

		</div>
		</section>
		<footer id="footer">
							<div class="inner">
								<h3>Any Questions? Comment Here!</h3>
								<div class="row">
									<input type="text" id="comment" placeholder="Comment and Questions">
								</div>
							</div>
							
			<br/>
			<%if (result.length){%>
			<ul class="actions">
				<li><input class="button alt" value="Comment" onclick="commentAddress()" /></li>
			</ul>
			<%} else {%>
			<h4>Login to comment this service...</h4>
			<%}%>

			
			<br/><br />

			<h3>All Comments</h3>
			<div class="inner">
			<div class="align-left">
			<table id="comments">
				<thead>
					<tr>
						<th scope="col">
							<font size="+1">Pet Owner</font>
						</th>
						<th scope="col">
							<font size="+1">Comments</font>
						</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<comment.length; i++) { %>

							<tr>
								<td>
									<font size="+1"><%= comment[i].ownername%></font>
								</td>
								<td>
									<font size="+1"><%= comment[i].content%></font>
								</td>
							</tr>

							<% } %>
							</tbody>
							</table>
						</div>
					</div>

					</footer>
</body>

</html>