<!DOCTYPE html>
<html>

<head>
	<title>Airpnp-Listing details</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body class="subpage">
	<header id="header">
		<div class="inner">
			<a href="index" class="logo">
				<font size="+3"><strong>Airpnp</strong></font>
			</a>
			<nav id="nav">
				<% if (result.length) {%>
				<!--if no one logged in, do not display-->
				<a>Logged in as: <%= result[0].username%></a>
				<a href='index?action=logout'>Logout</a>
				<% } else { %>
				<a href="login">Login</a>
				<%}%>
				<a href="signup">Signup</a>
				<a href="listings">My listings</a>
				<a href="biddings">My biddings</a>
				<a href="wishlist">My wishlist</a>
				<a href="account">My account</a>
				<a href="history">My history</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		</div>
	</header>

				<footer id="footer">
					<div class="inner">
						<h3>
							<font size="+3">Bidding information</font>
						</h3>
					</div>
				</footer>

				<% if (!data.length) {%>
				<h4>
					<center>This listing does not have a bidder yet. Please wait.</center>
				</h4>
				<% } else {%>
				<div class="table-wrapper" , style="padding-left:5%; padding-right:5%">
					<br />
					<table>
						<thead>
							<tr>
								<th>Bidder username</th>
								<th>Bids</th>
							</tr>
						</thead>
						<tbody style="text-align: left">
							<% var id; %>
							<% for(var i=0; i< data.length; i++) { %>
							<tr>
								<td><%= data[i].ownername%></td>
								<td><%= data[i].bids%></td>

								<td><a href=<%= "takerview?process=assign&ownername=" + data[i].ownername + "&id=" + data[i].id%>
										class="button special small fit"> Assign to this user!</a></td>

								<% id = data[i].id %>
								<%}%>
								
							</tr>
							<tr>
								
								<td> </td>
								<td> </td>
								<td><a href=<%= "takerview?process=system" + "&id=" + id%>
								class="button special small fit">Decide by system</a></td><% } %>
							</tr>
						</tbody>
					</table>
				</div>


</body>

</html>